### Importação das bibliotecas

In [1]:
import pandas as pd
import numpy as np

import sqlalchemy
from urllib.parse import quote_plus
from sqlalchemy import create_engine, text
from sqlalchemy.engine.base import Connection
from sqlalchemy.engine import URL

### Conexão com o Banco de Dados

In [2]:

def conn_bd():

    # pyodbc stuff for MS SQL Server Express
    driver='{ODBC Driver 17 for SQL Server}'
    server='DESKTOP-LG9U8DH'
    database='Raizen'
    trusted_connection='yes'

    # pyodbc connection string
    connection_string = f'DRIVER={driver};SERVER={server};\
                          DATABASE={database};\
                          ;\ TRUSTED_CONNECTION={trusted_connection}'
    
    connection_string += f'DATABASE={database};'
    connection_string += f'TRUSTED_CONNECTION={trusted_connection}'



    try:
    # create sqlalchemy engine connection URL
        connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})
        engine = sqlalchemy.create_engine(connection_url)
        print("Conexao realizada!")
    except Exception as error:
        error = str(error)
        print("Conexao não realizada! " + error)


    
    return engine

### Leitura dos dados (diesel)

In [3]:
caminho = r'C:\Users\BlueShift\Desktop\Teste Raizen\dados\vendas-combustiveis-m3__oleo_diesel_2023.xlsx'

In [4]:
planilha = pd.read_excel(caminho, skiprows=2, sheet_name=None)

In [5]:
planilha

{'2013':                     COMBUSTÍVEL   ANO               REGIÃO  \
 0         ÓLEO DIESEL S-10 (m3)  2013         REGIÃO NORTE
 1         ÓLEO DIESEL S-10 (m3)  2013         REGIÃO NORTE
 2         ÓLEO DIESEL S-10 (m3)  2013         REGIÃO NORTE
 3         ÓLEO DIESEL S-10 (m3)  2013         REGIÃO NORTE
 4         ÓLEO DIESEL S-10 (m3)  2013         REGIÃO NORTE
 ..                          ...   ...                  ...
 130  ÓLEO DIESEL (OUTROS ) (m3)  2013           REGIÃO SUL
 131  ÓLEO DIESEL (OUTROS ) (m3)  2013  REGIÃO CENTRO-OESTE
 132  ÓLEO DIESEL (OUTROS ) (m3)  2013  REGIÃO CENTRO-OESTE
 133  ÓLEO DIESEL (OUTROS ) (m3)  2013  REGIÃO CENTRO-OESTE
 134  ÓLEO DIESEL (OUTROS ) (m3)  2013  REGIÃO CENTRO-OESTE

                  ESTADO UNIDADE        Jan        Fev       Mar        Abr  \
 0              RONDÔNIA      m3   3517.600   3681.700   4700.67   5339.200
 1                  ACRE      m3    363.000    410.000    536.00    607.000
 2              AMAZONAS      m3   3190.585   3305.000   3391.00   3637.000
 3               RORAIMA      m3    795.400    757.200    939.80   1040.600
 4                  PARÁ      m3  30137.800  28146.300  31280.50  33033.050
 ..                  ...     ...        ...        ...       ...        ...
 130   RIO GRANDE DO SUL      m3    893.891    670.297    594.99    186.948
 131  MATO GROSSO DO SUL      m3     25.000     15.000     20.00     20.000
 132         MATO GROSSO      m3    164.000    242.000    173.00    192.000
 133               GOIÁS      m3      0.000      0.000      0.00      0.000
 134    DISTRITO FEDERAL      m3      0.082      0.000      0.00      0.000

           Mai        Jun        Jul        Ago       Set       Out        Nov  \
 0     6166.40   6539.650   7283.700   8082.850   7902.55   9383.15   9767.400
 1      740.00    756.000    971.000   1174.000   1240.00   1439.00   1483.000
 2     4250.00   4576.000   5756.879   6228.636   6334.00   7154.20   6836.300
 3      966.00    992.900   1027.000   1083.800   1311.20   1475.30   1502.700
 4    33519.88  34321.530  37168.160  41248.336  40913.48  45383.50  44013.219
 ..        ...        ...        ...        ...       ...       ...        ...
 130      0.00    186.762      0.000      0.000      0.00      0.00    562.246
 131     30.00     20.000     25.000     25.000     25.00     25.00     25.000
 132      0.00      0.000      0.000      0.000      0.00      0.00      0.000
 133      0.00      0.000      0.000      0.000      5.00      0.00      0.000
 134      0.08      0.280      0.000      0.000      0.00      0.00      0.000

            Dez
 0     9088.800
 1     1483.000
 2     6784.232
 3     1531.800
 4    41975.030
 ..         ...
 130    838.178
 131     30.000
 132      0.000
 133      0.000
 134      0.000

 [135 rows x 17 columns],
 '2014':                     COMBUSTÍVEL   ANO               REGIÃO  \
 0    ÓLEO DIESEL (OUTROS ) (m3)  2014  REGIÃO CENTRO-OESTE
 1    ÓLEO DIESEL (OUTROS ) (m3)  2014  REGIÃO CENTRO-OESTE
 2    ÓLEO DIESEL (OUTROS ) (m3)  2014  REGIÃO CENTRO-OESTE
 3    ÓLEO DIESEL (OUTROS ) (m3)  2014  REGIÃO CENTRO-OESTE
 4    ÓLEO DIESEL (OUTROS ) (m3)  2014           REGIÃO SUL
 ..                          ...   ...                  ...
 130       ÓLEO DIESEL S-10 (m3)  2014         REGIÃO NORTE
 131       ÓLEO DIESEL S-10 (m3)  2014         REGIÃO NORTE
 132       ÓLEO DIESEL S-10 (m3)  2014         REGIÃO NORTE
 133       ÓLEO DIESEL S-10 (m3)  2014         REGIÃO NORTE
 134       ÓLEO DIESEL S-10 (m3)  2014         REGIÃO NORTE

                  ESTADO UNIDADE        Jan        Fev        Mar        Abr  \
 0      DISTRITO FEDERAL      m3      0.000      0.000      0.000      0.000
 1                 GOIÁS      m3      0.000      0.000      0.000      0.000
 2           MATO GROSSO      m3      0.000      0.000      0.000     40.000
 3    MATO GROSSO DO SUL      m3     30.000     15.000     30.000     30.000
 4     RIO GRANDE DO SUL      m3    539.206    249.769    326.412      0.000
 ..                  ...     ...        ...        ...        ...        ...
 130                PARÁ      m3  43697.800  42107.200  43151.770  46813.450
 131             RORAIMA      m3   1656.900   1718.300   1709.000   1843.800
 132            AMAZONAS      m3   6894.300   6844.707   6960.169   7512.357
 133                ACRE      m3   1243.000   1197.000    783.000   1514.000
 134            RONDÔNIA      m3   9195.100   9130.000   8219.000   9159.100

            Mai        Jun        Jul        Ago        Set        Out  \
 0        0.000      0.000      0.000      0.000      0.000      0.000
 1        0.000      0.000      0.000      0.000      0.000      0.000
 2       62.000      0.000      0.000      0.000      0.000      0.000
 3       30.000     25.000     30.000     40.000     25.000     30.000
 4      162.440    254.040      0.000    298.194      0.000      0.000
 ..         ...        ...        ...        ...        ...        ...
 130  52696.100  52015.016  59292.304  60958.584  64160.331  69610.766
 131   1856.600   1565.500   1692.400   1731.900   2197.600   2174.900
 132   8450.984   7952.262   9764.477  10147.418  12130.035  10867.089
 133   1656.000   1966.000   2253.000   2562.000   2999.000   3058.000
 134  11092.205  10424.300  12445.916  12517.900  12920.500  14113.500

            Nov        Dez
 0        0.000      0.000
 1        0.200      0.000
 2        0.000      0.000
 3       20.000      0.000
 4        0.000      0.000
 ..         ...        ...
 130  63099.509  64079.349
 131   2009.400   2286.100
 132   9962.152   9333.477
 133   2484.000   2659.000
 134  13749.000  12244.200

 [135 rows x 17 columns],
 '2015':                     COMBUSTÍVEL   ANO               REGIÃO  \
 0    ÓLEO DIESEL (OUTROS ) (m3)  2015  REGIÃO CENTRO-OESTE
 1    ÓLEO DIESEL (OUTROS ) (m3)  2015  REGIÃO CENTRO-OESTE
 2    ÓLEO DIESEL (OUTROS ) (m3)  2015  REGIÃO CENTRO-OESTE
 3    ÓLEO DIESEL (OUTROS ) (m3)  2015  REGIÃO CENTRO-OESTE
 4    ÓLEO DIESEL (OUTROS ) (m3)  2015           REGIÃO SUL
 ..                          ...   ...                  ...
 130       ÓLEO DIESEL S-10 (m3)  2015         REGIÃO NORTE
 131       ÓLEO DIESEL S-10 (m3)  2015         REGIÃO NORTE
 132       ÓLEO DIESEL S-10 (m3)  2015         REGIÃO NORTE
 133       ÓLEO DIESEL S-10 (m3)  2015         REGIÃO NORTE
 134       ÓLEO DIESEL S-10 (m3)  2015         REGIÃO NORTE

                  ESTADO UNIDADE        Jan        Fev        Mar        Abr  \
 0      DISTRITO FEDERAL      m3      0.000      0.000      0.000      0.000
 1                 GOIÁS      m3      0.000      0.000      0.000      0.000
 2           MATO GROSSO      m3      0.000      0.000      0.000      0.000
 3    MATO GROSSO DO SUL      m3      0.000      0.000      0.000      0.000
 4     RIO GRANDE DO SUL      m3      0.000      0.000      0.000      0.000
 ..                  ...     ...        ...        ...        ...        ...
 130                PARÁ      m3  60413.300  50942.356  57209.046  57920.296
 131             RORAIMA      m3   2177.300   1951.600   2583.900   2271.100
 132            AMAZONAS      m3   8884.494   7906.926   9215.479   8745.380
 133                ACRE      m3   2299.000   1917.000   2366.000   2504.000
 134            RONDÔNIA      m3  11870.600  10348.100  12499.300  12495.800

            Mai        Jun        Jul        Ago        Set        Out  \
 0        0.000      0.000      0.000      0.000      0.000      0.000
 1        0.000      0.600      0.000      0.000      0.000      0.000
 2        0.000      0.000      0.000      0.000      0.000      0.000
 3        0.000      0.000      0.000      0.000      0.000      0.000
 4        0.000      0.000     41.888    184.441      0.000      0.000
 ..         ...        ...        ...        ...        ...        ...
 130  58993.339  65974.211  69987.945  68290.432  70545.404  72546.935
 131   2094.900   2064.000   2049.200   2021.400   2487.000   2528.000
 132   8719.116   9318.687  10130.259  10704.132  10736.241  10759.485
 133   2584.000   3266.000   3535.000   3730.000   3651.000   3625.000
 134  12927.600  14027.800  15961.700  15209.600  15306.100  16449.250

            Nov        Dez
 0        0.000      0.000
 1        0.000      0.000
 2        0.000      0.000
 3        0.000      0.000
 4        0.000    409.733
 ..         ...        ...
 130  66206.468  68228.665
 131   2334.000   2432.000
 132   9501.315   9544.962
 133   2869.000   3050.500
 134  14434.300  14506.500

 [135 rows x 17 columns],
 '2016':                     COMBUSTÍVEL   ANO               REGIÃO  \
 0    ÓLEO DIESEL (OUTROS ) (m3)  2016  REGIÃO CENTRO-OESTE
 1    ÓLEO DIESEL (OUTROS ) (m3)  2016  REGIÃO CENTRO-OESTE
 2    ÓLEO DIESEL (OUTROS ) (m3)  2016  REGIÃO CENTRO-OESTE
 3    ÓLEO DIESEL (OUTROS ) (m3)  2016  REGIÃO CENTRO-OESTE
 4    ÓLEO DIESEL (OUTROS ) (m3)  2016           REGIÃO SUL
 ..                          ...   ...                  ...
 130       ÓLEO DIESEL S-10 (m3)  2016         REGIÃO NORTE
 131       ÓLEO DIESEL S-10 (m3)  2016         REGIÃO NORTE
 132       ÓLEO DIESEL S-10 (m3)  2016         REGIÃO NORTE
 133       ÓLEO DIESEL S-10 (m3)  2016         REGIÃO NORTE
 134       ÓLEO DIESEL S-10 (m3)  2016         REGIÃO NORTE

                  ESTADO UNIDADE        Jan       Fev        Mar        Abr  \
 0      DISTRITO FEDERAL      m3      0.000      0.00      0.000      0.000
 1                 GOIÁS      m3      3.000      0.00      1.000      0.000
 2           MATO GROSSO      m3      0.000     65.00    313.000     88.000
 3    MATO GROSSO DO SUL      m3      0.000      0.00      0.000      0.000
 4     RIO GRANDE DO SUL      m3      2.500      2.50      2.500      0.000
 ..                  ...     ...        ...       ...        ...        ...
 130                PARÁ      m3  60404.089  60355.35  62345.847  60563.841
 131             RORAIMA      m3   2239.600   2670.90   2855.400   2754.400
 132            AMAZONAS      m3   8180.590   8131.24   9965.076  10460.587
 133                ACRE      m3   2458.000   2616.00   3036.500   3059.310
 134            RONDÔNIA      m3  11912.900  13447.50  15041.300  14389.900

            Mai        Jun        Jul       Ago        Set        Out  \
 0        0.000      0.000      0.000      0.00      0.000      0.000
 1        0.000      0.000      0.000      0.00      0.000      0.000
 2      130.000    191.000    104.000    118.00    257.500    273.000
 3        0.000      0.000      0.000      0.00      0.000      0.000
 4        0.000      0.000      0.000      0.00    171.810     33.984
 ..         ...        ...        ...       ...        ...        ...
 130  64671.828  68240.684  67360.988  72839.57  71893.848  70102.517
 131   2447.200   2365.000   2212.800   2613.20   2834.000   2657.800
 132  12206.214  14018.129  12577.676  15811.92  12491.506  10890.977
 133   3275.500   3367.750   3620.200   4081.90   3487.500   3424.600
 134  14710.700  15729.821  16313.600  16365.10  15051.000  15114.800

            Nov        Dez
 0        0.000      0.000
 1        0.000      0.000
 2      102.000    169.000
 3        0.000      0.000
 4        0.000      0.000
 ..         ...        ...
 130  70570.250  69481.530
 131   2921.100   3163.200
 132  10630.475   9802.999
 133   3035.200   3073.200
 134  14788.766  14286.300

 [135 rows x 17 columns],
 '2017':                     COMBUSTÍVEL   ANO               REGIÃO  \
 0    ÓLEO DIESEL (OUTROS ) (m3)  2017  REGIÃO CENTRO-OESTE
 1    ÓLEO DIESEL (OUTROS ) (m3)  2017  REGIÃO CENTRO-OESTE
 2    ÓLEO DIESEL (OUTROS ) (m3)  2017  REGIÃO CENTRO-OESTE
 3    ÓLEO DIESEL (OUTROS ) (m3)  2017  REGIÃO CENTRO-OESTE
 4    ÓLEO DIESEL (OUTROS ) (m3)  2017           REGIÃO SUL
 ..                          ...   ...                  ...
 130       ÓLEO DIESEL S-10 (m3)  2017         REGIÃO NORTE
 131       ÓLEO DIESEL S-10 (m3)  2017         REGIÃO NORTE
 132       ÓLEO DIESEL S-10 (m3)  2017         REGIÃO NORTE
 133       ÓLEO DIESEL S-10 (m3)  2017         REGIÃO NORTE
 134       ÓLEO DIESEL S-10 (m3)  2017         REGIÃO NORTE

                  ESTADO UNIDADE        Jan        Fev        Mar        Abr  \
 0      DISTRITO FEDERAL      m3      0.000      0.000      0.000      0.000
 1                 GOIÁS      m3      0.000      0.000      0.000      0.000
 2           MATO GROSSO      m3    146.000    391.000     53.000    232.000
 3    MATO GROSSO DO SUL      m3      0.000      0.000      0.000      0.000
 4     RIO GRANDE DO SUL      m3      0.000      0.000      0.000      0.000
 ..                  ...     ...        ...        ...        ...        ...
 130                PARÁ      m3  62236.714  54787.910  64919.709  57970.573
 131             RORAIMA      m3   2912.300   2834.400   3398.300   3100.600
 132            AMAZONAS      m3   8909.874   8637.483  10370.893  11830.772
 133                ACRE      m3   2439.400   2432.300   3248.443   2633.000
 134            RONDÔNIA      m3  13027.400  13702.200  15931.100  14440.600

            Mai        Jun        Jul        Ago           Set           Out  \
 0        0.000      0.000      0.000      0.000      0.000000      0.000000
 1        0.000      0.000      0.000      0.000      0.000000      0.000000
 2      184.000      0.000      0.000      0.000      0.000000      0.000000
 3        0.000      0.000      0.000      0.000      0.000000      0.000000
 4        0.000      0.000      0.000      0.000      0.000000      0.000000
 ..         ...        ...        ...        ...           ...           ...
 130  69914.839  70639.615  70501.770  76425.574  74779.920532  75772.013253
 131   3134.400   2850.400   2571.000   3258.200   4101.919936   4004.710129
 132  11435.623  11842.600  10860.864  11648.190  11014.535953  11344.174871
 133   3016.800   3222.700   3432.300   3802.600   3486.459950   3455.669868
 134  16064.400  17252.154  18777.130  18609.400  18369.477944  17814.624227

               Nov           Dez
 0        0.000000      0.000000
 1        0.000000      0.000000
 2        0.000000      0.000000
 3        0.000000      0.000000
 4        0.000000      0.000000
 ..            ...           ...
 130  73748.862676  70013.407398
 131   3744.854575   3482.129768
 132  11252.010937  10961.722854
 133   3117.812134   3203.477052
 134  18231.218400  16840.731683

 [135 rows x 17 columns],
 '2018':                     COMBUSTÍVEL   ANO               REGIÃO  \
 0    ÓLEO DIESEL (OUTROS ) (m3)  2018  REGIÃO CENTRO-OESTE
 1    ÓLEO DIESEL (OUTROS ) (m3)  2018  REGIÃO CENTRO-OESTE
 2    ÓLEO DIESEL (OUTROS ) (m3)  2018  REGIÃO CENTRO-OESTE
 3    ÓLEO DIESEL (OUTROS ) (m3)  2018  REGIÃO CENTRO-OESTE
 4    ÓLEO DIESEL (OUTROS ) (m3)  2018           REGIÃO SUL
 ..                          ...   ...                  ...
 130       ÓLEO DIESEL S-10 (m3)  2018         REGIÃO NORTE
 131       ÓLEO DIESEL S-10 (m3)  2018         REGIÃO NORTE
 132       ÓLEO DIESEL S-10 (m3)  2018         REGIÃO NORTE
 133       ÓLEO DIESEL S-10 (m3)  2018         REGIÃO NORTE
 134       ÓLEO DIESEL S-10 (m3)  2018         REGIÃO NORTE

                  ESTADO UNIDADE        Jan        Fev        Mar        Abr  \
 0      DISTRITO FEDERAL      m3      0.000      0.000      0.000      0.000
 1                 GOIÁS      m3      0.000      0.000      0.000      0.000
 2           MATO GROSSO      m3      0.000      0.000      0.000      0.000
 3    MATO GROSSO DO SUL      m3      0.000      0.000      0.000      0.000
 4     RIO GRANDE DO SUL      m3      0.000      0.000      0.000      0.000
 ..                  ...     ...        ...        ...        ...        ...
 130                PARÁ      m3  67543.655  58797.919  70329.705  65362.584
 131             RORAIMA      m3   3470.852   3527.934   4108.445   3623.953
 132            AMAZONAS      m3   9988.742   9143.539  11004.309  10042.315
 133                ACRE      m3   2519.765   2499.208   2948.908   2905.094
 134            RONDÔNIA      m3  15455.337  16360.385  18378.040  17405.856

            Mai        Jun        Jul        Ago        Set        Out  \
 0       15.000      0.000      0.000      0.000      0.000      0.000
 1        0.000      0.000      0.000      0.000      0.000      0.000
 2       12.000      8.000      0.000      0.000      0.000      0.000
 3       45.016      0.000      0.000      0.000      0.000      0.000
 4        5.000    525.000      0.000      0.000      0.000      0.000
 ..         ...        ...        ...        ...        ...        ...
 130  60254.025  74808.064  78023.467  88070.812  80664.616  89540.858
 131   3247.562   2970.200   2748.000   3557.800   3788.222   4193.929
 132  11119.214  10564.127  11609.609  13672.078  12455.442  13622.730
 133   3154.237   3075.160   3646.200   4060.900   3544.789   3662.897
 134  15078.608  20779.072  21891.283  21607.510  21355.119  22160.809

            Nov        Dez
 0        0.000      0.000
 1        0.000      0.000
 2        0.000      0.000
 3        0.000      0.000
 4        0.000      0.000
 ..         ...        ...
 130  87255.145  83399.356
 131   3776.892   3820.215
 132  11964.739  11414.364
 133   3255.579   2878.078
 134  23678.825  25333.182

 [135 rows x 17 columns],
 '2019':                     COMBUSTÍVEL   ANO               REGIÃO  \
 0    ÓLEO DIESEL (OUTROS ) (m3)  2019  REGIÃO CENTRO-OESTE
 1    ÓLEO DIESEL (OUTROS ) (m3)  2019  REGIÃO CENTRO-OESTE
 2    ÓLEO DIESEL (OUTROS ) (m3)  2019  REGIÃO CENTRO-OESTE
 3    ÓLEO DIESEL (OUTROS ) (m3)  2019  REGIÃO CENTRO-OESTE
 4    ÓLEO DIESEL (OUTROS ) (m3)  2019           REGIÃO SUL
 ..                          ...   ...                  ...
 130       ÓLEO DIESEL S-10 (m3)  2019         REGIÃO NORTE
 131       ÓLEO DIESEL S-10 (m3)  2019         REGIÃO NORTE
 132       ÓLEO DIESEL S-10 (m3)  2019         REGIÃO NORTE
 133       ÓLEO DIESEL S-10 (m3)  2019         REGIÃO NORTE
 134       ÓLEO DIESEL S-10 (m3)  2019         REGIÃO NORTE

                  ESTADO UNIDADE        Jan        Fev        Mar        Abr  \
 0      DISTRITO FEDERAL      m3      0.000      0.000      0.000      0.000
 1                 GOIÁS      m3      0.000      0.000      0.000      0.000
 2           MATO GROSSO      m3     76.000    146.000    144.000     10.000
 3    MATO GROSSO DO SUL      m3      0.000      0.000      0.000      0.000
 4     RIO GRANDE DO SUL      m3     10.000     10.361     10.000      0.000
 ..                  ...     ...        ...        ...        ...        ...
 130                PARÁ      m3  87634.461  85185.241  85407.550  86353.466
 131             RORAIMA      m3   3736.450   3729.650   3974.049   4093.300
 132            AMAZONAS      m3  10945.503  10676.987  11759.034  12254.505
 133                ACRE      m3   2545.200   2564.100   2662.900   3081.500
 134            RONDÔNIA      m3  26447.537  27236.413  29317.109  30403.692

            Mai        Jun         Jul         Ago         Set         Out  \
 0        0.000      0.000       0.000       0.000       0.000       0.000
 1        0.000      0.000       0.000       0.000       0.000       0.000
 2      111.000    121.000     282.000     197.000     149.000     155.000
 3        0.000      0.000       0.000       0.000       0.000       0.000
 4        0.000     20.000      10.000       0.000       0.000      15.000
 ..         ...        ...         ...         ...         ...         ...
 130  91557.461  95723.207  113300.804  111701.082  105305.899  114715.745
 131   3691.450   3037.250    3532.651    3464.800    4110.100    4317.300
 132  12653.255  12331.900   14328.281   14353.071   14486.275   15059.783
 133   3320.900   3223.400    3985.000    4039.500    3797.300    3868.600
 134  32118.476  31056.863   36326.827   34324.843   29943.005   34404.510

             Nov        Dez
 0         0.000      0.000
 1         0.000      0.000
 2       263.000     30.000
 3         0.000      0.000

In [6]:
planilha.keys()

dict_keys(['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', 'Plan1'])

In [8]:
df_diesel = pd.DataFrame()

In [9]:
for i in planilha:
    if i != 'Plan1':
        df_diesel = pd.concat([df_diesel, planilha[i]])

In [10]:
df_diesel.shape

(1350, 17)

In [11]:
df_diesel.sample(10)

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
10,ÓLEO DIESEL (OUTROS ) (m3),2016,REGIÃO SUDESTE,MINAS GERAIS,m3,6.789,8.447,4.254,14.159,3.736,1.628,2.8,0.0,10.0,0.0,0.0,0.0
68,ÓLEO DIESEL S-1800 (m3),2022,REGIÃO NORDESTE,PERNAMBUCO,m3,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0
38,ÓLEO DIESEL MARÍTIMO (m3),2020,REGIÃO NORDESTE,BAHIA,m3,1275.000,1009.000,767.000,598.000,530.000,264.000,341.0,656.0,761.0,776.0,1009.0,1327.0
74,ÓLEO DIESEL S-1800 (m3),2019,REGIÃO NORTE,TOCANTINS,m3,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0
25,ÓLEO DIESEL (OUTROS ) (m3),2019,REGIÃO NORTE,ACRE,m3,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0
59,ÓLEO DIESEL S-1800 (m3),2021,REGIÃO SUL,SANTA CATARINA,m3,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0
39,ÓLEO DIESEL MARÍTIMO (m3),2021,REGIÃO NORDESTE,SERGIPE,m3,55.000,80.000,70.000,55.000,115.000,283.000,145.0,120.0,130.0,133.0,175.0,75.0
5,ÓLEO DIESEL (OUTROS ) (m3),2021,REGIÃO SUL,SANTA CATARINA,m3,25.000,45.000,15.000,30.000,25.000,40.000,60.0,65.0,30.0,70.0,50.0,95.0
75,ÓLEO DIESEL S-1800 (m3),2020,REGIÃO NORTE,AMAPÁ,m3,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0
55,ÓLEO DIESEL S-1800 (m3),2020,REGIÃO CENTRO-OESTE,GOIÁS,m3,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df_diesel = df_diesel.sort_values(by=['ESTADO', 'ANO'], ascending=True)

In [13]:
df_diesel.head(4)

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
1,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,ACRE,m3,363.000,410.000,536.0,607.0,740.0,756.0,971.0,1174.0,1240.0,1439.000,1483.000,1483.00
28,ÓLEO DIESEL S-500 (m3),2013,REGIÃO NORTE,ACRE,m3,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.00
55,ÓLEO DIESEL S-1800 (m3),2013,REGIÃO NORTE,ACRE,m3,10143.361,11170.935,9642.0,11302.5,12034.0,12136.0,13515.5,14032.0,13589.0,14139.166,12430.431,11134.00
82,ÓLEO DIESEL MARÍTIMO (m3),2013,REGIÃO NORTE,ACRE,m3,32.000,75.000,120.0,155.0,60.0,30.0,25.0,11.0,25.0,109.000,40.000,119.73

### Exploração dos dados

In [14]:
df_diesel.columns

Index(['COMBUSTÍVEL', 'ANO', 'REGIÃO', 'ESTADO', 'UNIDADE', 'Jan', 'Fev',
       'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
      dtype='object')

In [16]:
df_diesel[df_diesel['ESTADO'] == 'ACRE'].sum(axis=0, numeric_only=True)

ANO    100875.000000
Jan    115579.426114
Fev    109409.568491
Mar    118185.335032
Abr    119847.070359
Mai    128790.251032
Jun    131544.849950
Jul    145298.103573
Ago    148659.915573
Set    149444.701114
Out    153517.376032
Nov    136588.488216
Dez    131606.872216
dtype: float64

In [17]:
estado_lista = []
estado_lista = df_diesel.ESTADO.unique()
estado_lista

array(['ACRE', 'ALAGOAS', 'AMAPÁ', 'AMAZONAS', 'BAHIA', 'CEARÁ',
       'DISTRITO FEDERAL', 'ESPÍRITO SANTO', 'GOIÁS', 'MARANHÃO',
       'MATO GROSSO', 'MATO GROSSO DO SUL', 'MINAS GERAIS', 'PARANÁ',
       'PARAÍBA', 'PARÁ', 'PERNAMBUCO', 'PIAUÍ', 'RIO DE JANEIRO',
       'RIO GRANDE DO NORTE', 'RIO GRANDE DO SUL', 'RONDÔNIA', 'RORAIMA',
       'SANTA CATARINA', 'SERGIPE', 'SÃO PAULO', 'TOCANTINS'],
      dtype=object)

In [18]:
for i in estado_lista:
    print(i)
    print(f"{df_diesel[df_diesel['ESTADO'] == i].sum(axis=0, numeric_only=True)}")
    print('='*25)

ACRE
ANO    100875.000000
Jan    115579.426114
Fev    109409.568491
Mar    118185.335032
Abr    119847.070359
Mai    128790.251032
Jun    131544.849950
Jul    145298.103573
Ago    148659.915573
Set    149444.701114
Out    153517.376032
Nov    136588.488216
Dez    131606.872216
dtype: float64
=========================
ALAGOAS
ANO    100875.000000
Jan    358891.785322
Fev    317490.871058
Mar    324045.633146
Abr    279876.342851
Mai    267747.204146
Jun    251007.195970
Jul    266068.027234
Ago    286608.024234
Set    310703.989322
Out    366578.786146
Nov    366834.472111
Dez    376134.478111
dtype: float64
=========================
AMAPÁ
ANO    100875.000000
Jan    183842.916729
Fev    150118.586583
Mar    153069.151632
Abr    147469.745020
Mai    149312.597632
Jun    152374.131534
Jul    164010.619680
Ago    178376.971680
Set    169951.155729
Out    181781.575632
Nov    179460.123212
Dez    173089.029212
dtype: float64
=========================
AMAZONAS
ANO    100875.000000
Jan    837841.262118
Fev    765544.113494
Mar    825870.095036
Abr    878948.545365
Mai    888749.093036
Jun    891807.139953
Jul    938049.098577
Ago    991057.484577
Set    939356.320118
Out    955582.950036
Nov    871993.400019
Dez    877937.888019
dtype: float64
=========================
BAHIA
ANO    1.008750e+05
Jan    2.489764e+06
Fev    2.347253e+06
Mar    2.694869e+06
Abr    2.685070e+06
Mai    2.610760e+06
Jun    2.578425e+06
Jul    2.767865e+06
Ago    2.868839e+06
Set    2.752330e+06
Out    2.885751e+06
Nov    2.666867e+06
Dez    2.612164e+06
dtype: float64
=========================
CEARÁ
ANO    100875.000000
Jan    894821.664612
Fev    804906.293490
Mar    823531.027531
Abr    775254.404857
Mai    829092.402531
Jun    856425.957449
Jul    908927.561571
Ago    947530.376571
Set    932308.454612
Out    978773.051531
Nov    922252.237514
Dez    939588.571514
dtype: float64
=========================
DISTRITO FEDERAL
ANO    100875.000000
Jan    297454.100246
Fev    297898.777397
Mar    334720.318013
Abr    317001.752945
Mai    330469.364013
Jun    321657.521780
Jul    335037.884630
Ago    355157.034630
Set    345682.104246
Out    357530.872013
Nov    322665.194767
Dez    327599.243767
dtype: float64
=========================
ESPÍRITO SANTO
ANO    1.008750e+05
Jan    9.236041e+05
Fev    8.521875e+05
Mar    9.547341e+05
Abr    9.065744e+05
Mai    9.539690e+05
Jun    9.582868e+05
Jul    9.880231e+05
Ago    1.018819e+06
Set    9.866003e+05
Out    1.028177e+06
Nov    9.337477e+05
Dez    9.308028e+05
dtype: float64
=========================
GOIÁS
ANO    1.008750e+05
Jan    2.021058e+06
Fev    2.315725e+06
Mar    2.498130e+06
Abr    2.287301e+06
Mai    2.386670e+06
Jun    2.525390e+06
Jul    2.757402e+06
Ago    2.728708e+06
Set    2.610616e+06
Out    2.781436e+06
Nov    2.338242e+06
Dez    2.023226e+06
dtype: float64
=========================
MARANHÃO
ANO    1.008750e+05
Jan    1.070126e+06
Fev    9.571847e+05
Mar    1.075095e+06
Abr    1.027357e+06
Mai    1.064530e+06
Jun    1.122589e+06
Jul    1.216345e+06
Ago    1.249637e+06
Set    1.225789e+06
Out    1.268218e+06
Nov    1.210534e+06
Dez    1.194851e+06
dtype: float64
=========================
MATO GROSSO
ANO    1.008750e+05
Jan    2.361628e+06
Fev    2.685866e+06
Mar    2.585457e+06
Abr    2.027473e+06
Mai    2.136868e+06
Jun    2.600344e+06
Jul    2.848023e+06
Ago    2.699630e+06
Set    2.582206e+06
Out    2.750219e+06
Nov    2.228975e+06
Dez    1.961174e+06
dtype: float64
=========================
MATO GROSSO DO SUL
ANO    1.008750e+05
Jan    1.015098e+06
Fev    1.192859e+06
Mar    1.300237e+06
Abr    1.100500e+06
Mai    1.102853e+06
Jun    1.185732e+06
Jul    1.403475e+06
Ago    1.459288e+06
Set    1.371686e+06
Out    1.409649e+06
Nov    1.202217e+06
Dez    1.034085e+06
dtype: float64
=========================
MINAS GERAIS
ANO    1.008750e+05
Jan    5.301076e+06
Fev    5.213674e+06
Mar    5.984787e+06
Abr    5.764327e+06
Mai    5.903946e+06
Jun    6.040688e+06
Jul    6.393378e+06
Ago    6.572432e+06
Set    6.336382e+06
Out    6.532881e+06
Nov    5.877105e+06
Dez    5.534076e+06
dtype: float64
=========================
PARANÁ
ANO    1.008750e+05
Jan    4.154490e+06
Fev    4.424770e+06
Mar    4.938520e+06
Abr    4.394513e+06
Mai    4.368329e+06
Jun    4.487024e+06
Jul    4.925508e+06
Ago    5.073185e+06
Set    4.820953e+06
Out    4.921481e+06
Nov    4.476696e+06
Dez    4.156772e+06
dtype: float64
=========================
PARAÍBA
ANO    100875.000000
Jan    387826.836044
Fev    352395.422035
Mar    370331.202038
Abr    346114.737062
Mai    349552.254038
Jun    351311.518032
Jul    375630.529041
Ago    398223.972041
Set    394899.292044
Out    415739.072038
Nov    399635.827837
Dez    406715.681837
dtype: float64
=========================
PARÁ
ANO    1.008750e+05
Jan    1.813260e+06
Fev    1.748271e+06
Mar    1.901603e+06
Abr    1.861282e+06
Mai    1.946490e+06
Jun    2.032382e+06
Jul    2.164114e+06
Ago    2.211050e+06
Set    2.135438e+06
Out    2.205286e+06
Nov    2.060601e+06
Dez    1.990475e+06
dtype: float64
=========================
PERNAMBUCO
ANO    1.008750e+05
Jan    1.308563e+06
Fev    1.140763e+06
Mar    1.225436e+06
Abr    1.121909e+06
Mai    1.126225e+06
Jun    1.152664e+06
Jul    1.189198e+06
Ago    1.262225e+06
Set    1.291088e+06
Out    1.397566e+06
Nov    1.328644e+06
Dez    1.319395e+06
dtype: float64
=========================
PIAUÍ
ANO    100875.000000
Jan    422054.638959
Fev    376252.912767
Mar    437749.457831
Abr    443161.962343
Mai    448514.464831
Jun    459548.179704
Jul    492856.589895
Ago    495306.451895
Set    479815.469959
Out    497674.969831
Nov    482113.085406
Dez    475331.385406
dtype: float64
=========================
RIO DE JANEIRO
ANO    1.008750e+05
Jan    2.151642e+06
Fev    1.975645e+06
Mar    2.161315e+06
Abr    2.020708e+06
Mai    2.096888e+06
Jun    2.066765e+06
Jul    2.189709e+06
Ago    2.231567e+06
Set    2.159759e+06
Out    2.283138e+06
Nov    2.119691e+06
Dez    2.219625e+06
dtype: float64
=========================
RIO GRANDE DO NORTE
ANO    100875.000000
Jan    457239.730946
Fev    396156.860756
Mar    410454.985153
Abr    383260.331324
Mai    390548.633153
Jun    402125.840360
Jul    412762.414549
Ago    420217.945549
Set    423481.353946
Out    454951.076153
Nov    443574.993394
Dez    449052.960394
dtype: float64
=========================
RIO GRANDE DO SUL
ANO    1.008750e+05
Jan    2.671092e+06
Fev    2.610716e+06
Mar    3.523022e+06
Abr    3.403599e+06
Mai    2.902873e+06
Jun    2.809121e+06
Jul    2.844956e+06
Ago    3.097137e+06
Set    2.954294e+06
Out    3.346837e+06
Nov    3.276164e+06
Dez    2.849750e+06
dtype: float64
=========================
RONDÔNIA
ANO    100875.000000
Jan    647328.081378
Fev    675815.934302
Mar    753898.451661
Abr    679420.681529
Mai    696155.563661
Jun    733410.753944
Jul    801494.804019
Ago    773101.297019
Set    722012.129378
Out    785664.915661
Nov    751180.008117
Dez    714660.076117
dtype: float64
=========================
RORAIMA
ANO    100875.000000
Jan    193797.164549
Fev    190871.015839
Mar    233422.372743
Abr    203395.470969
Mai    187504.735743
Jun    155660.755936
Jul    159995.661646
Ago    184779.143646
Set    215818.636549
Out    238888.763743
Nov    219303.758381
Dez    212604.867381
dtype: float64
=========================
SANTA CATARINA
ANO    1.008750e+05
Jan    2.047887e+06
Fev    2.020942e+06
Mar    2.274581e+06
Abr    2.166244e+06
Mai    2.104490e+06
Jun    2.086916e+06
Jul    2.222614e+06
Ago    2.271755e+06
Set    2.171438e+06
Out    2.257164e+06
Nov    2.193944e+06
Dez    2.071182e+06
dtype: float64
=========================
SERGIPE
ANO    100875.000000
Jan    282018.293879
Fev    258288.121304
Mar    282604.168829
Abr    277099.699031
Mai    283406.596829
Jun    260851.349778
Jul    258525.739354
Ago    279579.376354
Set    281486.876879
Out    304293.111829
Nov    296026.115019
Dez    300725.752019
dtype: float64
=========================
SÃO PAULO
ANO    1.008750e+05
Jan    8.684380e+06
Fev    8.811112e+06
Mar    1.013102e+07
Abr    1.021692e+07
Mai    1.064603e+07
Jun    1.073957e+07
Jul    1.127863e+07
Ago    1.172196e+07
Set    1.111342e+07
Out    1.150736e+07
Nov    1.021991e+07
Dez    9.408298e+06
dtype: float64
=========================
TOCANTINS
ANO    100875.000000
Jan    686679.118102
Fev    734329.118281
Mar    861885.507555
Abr    804795.493742
Mai    807434.827555
Jun    836467.416008
Jul    889472.399828
Ago    902712.021828
Set    871259.505102
Out    929953.899555
Nov    865299.097645
Dez    792095.235645
dtype: float64
=========================

### Envio dos dados para o Banco de dados no schema Stage

In [20]:
engine = conn_bd()

df_diesel.to_sql(name = 'diesel',con=engine, if_exists='append', index=False, schema='Stage')

Conexao realizada!

120